* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100vh;
}

:root {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 20px;
  background: #e2e9e1;
  color: #333;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair", serif;
}

h1 {
  font-size: 52px;
  font-weight: 600px;
}

h2 {
  font-size: 42px;
  font-weight: 600px;
}

h3 {
  font-size: 36px;
  font-weight: 600px;
}


.container {
  max-width: 800px;
  margin: 0 auto;
}

.current-weather {
  text-align: center;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 10px;
  background-color: #cbdbc9;
}

.forecast {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

.forecast-day {
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  transition: background 0.3s ease;
}

.forecast-day p {
  margin: 5px 0;
  color: #164A68;
  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.icon {
  font-size: 4rem;
}

.sunny {
  background-color: #F7E9B9;
}

.cloudy {
  background-color: #F9FDFE;
}

.rainy {
  background-color: #BDE8FA;
}
